<!DOCTYPE html>
<html lang=en>
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WRM884Q');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127727398-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-127727398-1');
    </script>

    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta name="Keywords" content="@ViewBag.Keywords" />
    <meta property="og:url" content="https://nhaphokhaisoncity.com">
    <meta property="og:type" content="article">
    <meta property="og:image" content="@ViewBag.Image" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta content="index,follow name=robots">
    <meta http-equiv=content-language content=vi>
    <meta name="author" content="Khai Sơn Town">
    <link rel="icon" type="image/png" href="~/public/client/imgs/logo-khai-son.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="@ViewBag.Title" />
    <meta name="twitter:title" content="@ViewBag.Title" />
    <meta name="twitter:image" content="@ViewBag.Image" />
    <link href="~/public/client/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/public/client/css/jquery.fullpage.min.css" rel="stylesheet" />
    <link rel=stylesheet type=text/css href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css>
    <link rel=stylesheet href=/public/client/css/style.bundle.css>
    <link rel=stylesheet href=/public/client/css/main.css>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRM884Q"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <main id=fullpageMarina>
        @RenderBody()
        <footer class="section contact" data-anchor=lien-he>
            <div class=container-fluid>
                <br />
                <div class=row>
                    <div class="col-md-7 contact__incentives">
                        <h2 class="title title--light-red mb-28 title--contact title--uppercase">Nhận bảng giá độc quyền Shophouse-biệt thự-liền kề giai đoạn 1 dự án Khai Sơn City</h2><div class=incentives_list>
                            <div>
                                <p class="title--white bg--color-orange title--uppercase">
                                    <i class="fa fa-star title--light-red"></i> Đầu tư Shophouse cạnh cạnh công viên & Hồ điều hòa <br />25Ha liền kề Phố Cổ
                                </p>
                            </div>
                            <div>
                                <p class="title--white bg--color-orange title--uppercase"><i class="fa fa-star title--light-red"></i> Giá gốc từ chủ đầu tư</p>
                            </div>
                            <div>
                                <p class="title--white bg--color-orange title--uppercase">
                                    <i class="fa fa-star title--light-red"></i> Tiềm năng tăng giá cao trong tương lai
                                </p>
                            </div>
                            <div>
                                <p class="title--white bg--color-orange title--uppercase"><i class="fa fa-star title--light-red"></i> Kinh doanh bền vững qua các thế hệ</p>
                            </div>
                            <div>
                                <div class=contact--special>
                                    <i class="fa fa-star title--light-red"></i>
                                    <i class="fa fa-star title--light-red"></i>
                                    <i class="fa fa-star title--light-red"></i> HỖ TRỢ KÝ GỬI - TÁI ĐẦU TƯ CHO KHÁCH HÀNG
                                </div>
                            </div>
                        </div>
                    </div><div class="col-md-4 contact__form">
                        <h1 class="title title--green mb-20 title__form">ĐĂNG KÝ THÔNG TIN</h1>
                        <form>
                            <div class=form-group>
                                <label class=form__label>Họ và tên:</label>
                                <input type=text class="form-control form__input p-6 input--name" name=fullName id="name" required>
                            </div>
                            <div class=form-group>
                                <label for=phone_number class=form__label>Số điện thoại:</label><input type=text class="form-control form__input p-6 input--phone-number" name=phone id="phone_number" required pattern=^09[0-46-9][0-9]{7}$|^012[0-9]{8}$|^016[2-9][0-9]{7}$|^018[68][0-9]{7}$|^0199[0-9]{7}$|^08[689][0-9]{7}$|^02[0-9]{9}$>
                            </div>
                            <div class=form-group><label for=email class=form__label>Email:</label><input type=email class="form-control form__input p-6 input--email" name=email id="email"></div>
                            <div class=form-group>
                                <label for=message class=form__label>Yêu cầu:</label>
                                <textarea class="form-control form__input form__textarea p-6" name=content id="message"></textarea>
                            </div>
                            <button type="button" id="btnFormSubmit" class="btn-block btn btn-primary form__btn btn--bg-orange">NHẬN BẢNG GIÁ</button>
                        </form>
                    </div>
                </div>
            </div><div class=container>
                <hr><div class=info>
                    <div class=row>
                        <div class="col-md-2 text-center"><h2 class="title title--green text-center">Liên hệ</h2></div>
                        <div class=col-md-6>
                            <p class="contact__info title--black font-bold">Phòng kinh doanh chủ đầu tư Khai Sơn Town:</p>
                            <p class="contact__info mgTop31">• Địa chỉ: Phường Ngọc Thụy – Long Biên – Hà Nội.</p>
                            <p class="contact__info mgTop31">• Thời gian làm việc: 8h – 17h30 các ngày trong tuần.</p>
                            <p class="contact__info mgTop31">• HOTLINE: <a href="tel:0936 94 9191">0936 94 9191</a></p>
                            <p class="contact__info mgTop31">• Email:<a href="mailto:cskh.khaisoncitylongbien@gmail.com"> cskh.khaisoncitylongbien@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main><div class=phone-call>
        <a href="tel:0936 94 9191" class=phone-call__icon><i class="fa fa-phone" aria-hidden=true></i></a><div class=phone-call__content--wrap><div class=phone-call__content--item><a href="tel:0936 94 9191">0936 94 9191</a></div></div>
    </div>

    <script src=/public/client/js/jquery.min.js></script>
    <script src=/public/client/js/jquery.fullpage.min.js></script>
    <script src=/public/client/js/popper.min.js></script>
    <script src=/public/client/js/bootstrap.min.js></script>
    <script src="~/public/client/js/main2.js"></script>
</body>
</html>